<body bgcolor="#f7f7f7" style="margin: 0px; padding: 0px;">
	<div itemscope itemtype="http://schema.org/EmailMessage">
		<div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
			<meta itemprop="name" content="JACK&JONES" />
			<link itemprop="url" href="http://www.jackjones.com" />
			<link itemprop="url/googlePlus" href="https://plus.google.com/106986485849009393756" />
		</div>
	</div>
	<table cellpadding="0" cellspacing="0" width="100%" border="0" bgcolor="#f7f7f7">
		<tr>
			<td align="center">
				<table width="600" border="0" cellspacing="0" cellpadding="0" class="fullWidth">
					<tr>
						<td class="fullWidth" style="width:600px; max-width:600px; min-width:600px;" align="center">
							<!-- preheader and online link -->
							<table width="600" border="0" cellspacing="0" cellpadding="0" class="mobileHide">
								<tbody>
									<tr>
										<td class="tableWrapper" style="width: 600px; max-width: 600px; min-width: 600px;" align="center">
											<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
												<tbody>
													<tr>
														<td align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height:14px; color: #8a8a8b; padding: 10px 10px 10px 0px; max-width: 300px;">%%__AdditionalEmailAttribute1%%</td>
														<td class="online" align="right" style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height:14px; color: #8a8a8b; padding: 10px 0px 10px 10px; vertical-align: top;"><a href="%%view_email_url%%" style="color: #8a8a8b; text-decoration: none;">E-Mail nicht lesbar? <u>Bitte hier anklicken</u></a></td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- /preheader and online link -->
						</td>
					</tr>
					<tr>
						<td align="center">
							<!-- logo -->
							<table width="600" border="0" cellspacing="0" cellpadding="0" class="tableWrapper">
								<tr>
									<td class="tableWrapper" style="width:600px; max-width:600px; min-width:600px;" align="center">
										<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
											<tr>
												<td class="logo" align="center" style="padding:30px 0 40px 0;">
													<a href="http://www.jackjones.com/?forcecountry=AT"><img src="http://image.e.jackjones.com/lib/fe9d13727764027c75/m/1/JJ_logo.png" class="mobilelogo" width="192" alt="JACK &amp; JONES" border="0" style="display:block; margin:0 auto;"></a>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							<!-- /logo -->
						</td>
					</tr>
					<tr>
						<td align="center">
							<!-- brands -->
							<table width="600" align="center" class="tableWrapper" border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<td align="center" class="tableWrapper" style="width: 600px; min-width: 600px; max-width: 600px;">
											<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
												<tbody>
													<tr>
														<td class="navigation" style="padding-bottom: 30px; border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-style: solid;">
															<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
																<tbody>
																	<tr>
																		<td width="55" align="left" style="padding-right: 77px;">
																			<a href="http://jackjones.com/lifestyles/core/jj-core,de_AT,sc.html?forcecountry=AT"><img width="55" height="20" style="width: 55px; height: 20px; display: block;" alt="" src="http://image.e.jackjones.com/lib/fe9d13727764027c75/m/1/icon-Core.png" border="0" /></a>
																		</td>
																		<td width="50" align="left" style="padding-right: 86px;">
																			<a href="http://jackjones.com/lifestyles/originals/jj-originals,de_AT,sc.html?forcecountry=AT"><img width="50" height="13" style="width: 50px; height: 13px; display: block;" alt="" src="http://image.e.jackjones.com/lib/fe9d13727764027c75/m/1/Originals.png" border="0" /></a>
																		</td>
																		<td width="61" align="left" style="padding-right: 84px;">
																			<a href="http://jackjones.com/lifestyles/premium/jj-premium,de_AT,sc.html?forcecountry=AT"><img width="61" height="13" style="width: 61px; height: 13px; display: block;" alt="" src="http://image.e.jackjones.com/lib/fe9d13727764027c75/m/1/Premium.png" border="0" /></a>
																		</td>
																		<td align="left">
																			<a href="http://jackjones.com/lifestyles/vintage/jj-vintage,de_AT,sc.html?forcecountry=AT"><img width="51" height="13" style="width: 51px; height: 13px; display: block;" alt="" src="http://image.e.jackjones.com/lib/fe9d13727764027c75/m/1/Vintage.png" border="0" /></a>
																		</td>
																		<td width="60" align="right">
																			<a href="http://jackjones.com/lifestyles/tech/jj-tech,de_AT,sc.html?forcecountry=AT"><img width="60" height="13" style="width: 60px; height: 13px; display: block;" alt="" src="http://image.e.jackjones.com/lib/fe9d13727764027c75/m/1/icon-Tech.png" border="0" /></a>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- /brands -->
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Free shipping banner">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 1">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 2">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 3">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 4">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 5">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 6">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 7">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 8">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 9">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 10">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 11">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 12">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 13">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 14">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 15">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 16">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 17">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 18">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 19">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 20">
						</td>
					</tr>
					<tr>
						<td align="center">
							<!-- customer service -->
							<table width="600" border="0" cellspacing="0" cellpadding="0" class="tableWrapper">
								<tbody>
									<tr>
										<td class="mobileHeight" height="40" style="width: 600px; max-width: 600px; min-width: 600px;" align="center"></td>
									</tr>
								</tbody>
							</table>
							<table width="600" border="0" cellspacing="0" cellpadding="0" class="tableWrapper" align="center">
								<tbody>
									<tr>
										<td class="tableWrapper" style="width: 600px; max-width: 600px; min-width: 600px;" align="center">
											<custom type="content" name="Service box">
										</td>
									</tr>
								</tbody>
							</table>
							<!-- /customer service -->
						</td>
					</tr>
					<tr>
						<td align="center">
							<!-- social -->
							<table width="600" border="0" cellspacing="0" cellpadding="0" class="tableWrapper">
								<tbody>
									<tr>
										<td class="mobileHeight" height="30" style="width: 600px; max-width: 600px; min-width: 600px;" align="center"></td>
									</tr>
								</tbody>
							</table>
							<table width="600" border="0" cellspacing="0" cellpadding="0" class="tableWrapper" align="center">
								<tbody>
									<tr>
										<td class="tableWrapper" style="width: 600px; max-width: 600px; min-width: 600px;" align="center">
											<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
												<tbody>
													<tr>
														<td align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 12px; color: #000000; font-weight: bold; padding-bottom: 14px;">FOLGE UNS:</td>
													</tr>
													<tr>
														<td align="center" style="padding-bottom: 15px;">
															<table border="0" cellspacing="0" cellpadding="0" align="center">
																<tbody>
																	<tr>
																		<td style="padding-right: 12px;">
																			<a href="https://www.facebook.com/JackandJones?utm_content=footer_facebook"><img src="http://image.e.jackjones.com/lib/fe9d13727764027c75/m/1/facebook-icon1.jpg" width="24" height="24" alt="" border="0" style="display: block;" /></a>
																		</td>
																		<td style="padding-right: 12px;">
																			<a href="https://twitter.com/JackandJonesTM?utm_content=footer_twitter"><img src="http://image.e.jackjones.com/lib/fe9d13727764027c75/m/1/twitter-icon3.jpg" width="24" height="24" alt="" border="0" style="display: block;" /></a>
																		</td>
																		<td>
																			<a href="https://instagram.com/jackandjones_official/?utm_content=footer_instagram"><img src="http://image.e.jackjones.com/lib/fe9d13727764027c75/m/1/instagram-icon1.jpg" width="24" height="24" alt="" border="0" style="display: block;" /></a>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- /social -->
						</td>
					</tr>
					<tr>
						<td>
							<!-- Unsubscribe and copyright -->
							<table width="600" border="0" cellspacing="0" cellpadding="0" class="tableWrapper" align="center">
								<tbody>
									<tr>
										<td class="tableWrapper" style="width: 600px; max-width: 600px; min-width: 600px;" align="center">
											<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
												<tbody>
													<tr>
														<td align="center">
															<custom type="content" name="Disclaimer text">
														</td>
													</tr>
													<tr>
														<td align="center" class="footer" style="color: #505359; line-height: 20px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 11px;">Wir k&ouml;nnen nicht garantieren, dass alle der gezeigten Produkte in dieser E-Mail in jedem JACK &JONES Store erh&auml;ltlich sind. Die Preise variieren eventuell von Store zu Store. Alle Preise sind unverbindliche empfohlene Einzelhandelspreise.
														</td>
													</tr>
													<tr>
														<td class="footer" align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 20px; color: #505359; padding-bottom: 25px;padding-left: 10px;padding-right: 10px;">Falls Du nicht länger Emails von JACK & JONES erhalten möchtest, kannst Du Dich <a href="https://member.bestseller.com/Unsubscribe/?email=%%emailaddr%%&code=%%ActivationCode%%&country=%%Country%%&brand=JACK" style="color: #505359; text-decoration: underline !important;">hier abmelden</a>.
															<br /> Aktualisiere dein Profil <a href="https://member.bestseller.com/ProfileUpdate/?email=%%emailaddr%%&code=%%ActivationCode%%&country=%%Country%%&brand=JACK" style="color: #505359; text-decoration: underline !important;">hier</a>.
															<br> Da wir den E-Mail-Anbieter gewechselt haben, funktionieren die Links aus E-Mails, die vor diesem Datum verschickt wurden, nicht mehr. Wenn du dich aus unserer E-Mail-Liste austragen möchtest, nutze bitte den Abmeldelink aus unseren E-Mails, die nach dem 04-02-2016 versendet wurden.
														</td>
													</tr>
													<tr>
														<td class="copyright" align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 20px; color: #767676; padding-bottom: 15px;">BESTSELLER A/S JACK & JONES, Fredskovvej, 7330 Brande, Denmark. </td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- /Unsubscribe and copyright -->
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<custom name="opencounter" type="tracking">
</body>

</html>