<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td align="center" class="footer" style="color: #505359; line-height: 20px; padding-right: 10px; padding-bottom: 15px; padding-left: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 11px;">Wir k&ouml;nnen nicht garantieren, dass alle der gezeigten Produkte in dieser E-Mail in jedem JACK &JONES Store erh&auml;ltlich sind. Die Preise variieren eventuell von Store zu Store. Alle Preise sind unverbindliche empfohlene Einzelhandelspreise.
			</td>
		</tr>
	</tbody>
</table>