<body bgcolor="#f7f7f7" style="margin: 0px; padding: 0px;">
	<div itemscope itemtype="http://schema.org/EmailMessage">
		<div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
			<meta itemprop="name" content="JACK&JONES" />
			<link itemprop="url" href="http://www.jackjones.com" />
			<link itemprop="url/googlePlus" href="https://plus.google.com/106986485849009393756" />
		</div>
	</div>
	<table cellpadding="0" cellspacing="0" width="100%" border="0" bgcolor="#f7f7f7">
		<tr>
			<td align="center">
				<table width="600" border="0" cellspacing="0" cellpadding="0" class="fullWidth">
					<tr>
						<td class="fullWidth" style="width:600px; max-width:600px; min-width:600px;" align="center">
							<!-- preheader and online link -->
							<table width="600" border="0" cellspacing="0" cellpadding="0" class="mobileHide">
								<tbody>
									<tr>
										<td class="tableWrapper" style="width: 600px; max-width: 600px; min-width: 600px;" align="center">
											<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
												<tbody>
													<tr>
														<td align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height:14px; color: #8a8a8b; padding: 10px 10px 10px 0px; max-width: 300px;">%%__AdditionalEmailAttribute1%%</td>
														<td class="online" align="right" style="font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height:14px; color: #8a8a8b; padding: 10px 0px 10px 10px; vertical-align: top;"><a href="%%view_email_url%%" style="color: #8a8a8b; text-decoration: none;">Har du problemer med &aring; lese denne e-posten? <u>Klikk her</u></a></td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- /preheader and online link -->
						</td>
					</tr>
					<tr>
						<td align="center">
							<!-- logo -->
							<table width="600" border="0" cellspacing="0" cellpadding="0" class="tableWrapper">
								<tr>
									<td class="tableWrapper" style="width:600px; max-width:600px; min-width:600px;" align="center">
										<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
											<tr>
												<td class="logo" align="center" style="padding:30px 0 40px 0;">
													<a href="http://jackjones.no/?forcecountry=NO"><img src="http://image.e.jackjones.com/lib/fe9d13727764027c75/m/1/JJ_logo.png" class="mobilelogo" width="192" alt="JACK &amp; JONES" border="0" style="display:block; margin:0 auto;"></a>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							<!-- /logo -->
						</td>
					</tr>
					<tr>
						<td align="center">
							<!-- brands -->
							<table width="600" border="0" cellspacing="0" cellpadding="0" class="tableWrapper" align="center">
								<tbody>
									<tr>
										<td class="tableWrapper" style="width: 600px; max-width: 600px; min-width: 600px;" align="center">
											<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
												<tbody>
													<tr>
														<td class="navigation" style="padding-bottom: 30px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #000000;">
															<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
																<tbody>
																	<tr>
																		<td align="left" width="55" style="padding-right:77px;">
																			<a href="http://jackjones.no/lifestyles/core/jj-core,no_NO,sc.html?forcecountry=NO"><img src="http://image.e.jackjones.com/lib/fe9d13727764027c75/m/1/icon-Core.png" width="55" height="20" alt="" border="0" style="display: block; height:20px; width:55px;" /></a>
																		</td>
																		<td align="left" width="50" style="padding-right:86px;">
																			<a href="http://jackjones.no/lifestyles/originals/jj-originals,no_NO,sc.html?forcecountry=NO"><img src="http://image.e.jackjones.com/lib/fe9d13727764027c75/m/1/Originals.png" width="50" height="13" alt="" border="0" style="display: block; height:13px; width:50px;" /></a>
																		</td>
																		<td align="left" width="61" style="padding-right:84px;">
																			<a href="http://jackjones.no/lifestyles/premium/jj-premium,no_NO,sc.html?forcecountry=NO"><img src="http://image.e.jackjones.com/lib/fe9d13727764027c75/m/1/Premium.png" width="61" height="13" alt="" border="0" style="display: block; height:13px; width:61px;" /></a>
																		</td>
																		<td align="left">
																			<a href="http://jackjones.no/lifestyles/vintage/jj-vintage,no_NO,sc.html?forcecountry=NO"><img src="http://image.e.jackjones.com/lib/fe9d13727764027c75/m/1/Vintage.png" width="51" height="13" alt="" border="0" style="display: block; height:13px; width:51px;" /></a>
																		</td>
																		<td align="right" width="60">
																			<a href="http://jackjones.no/lifestyles/tech/jj-tech,no_NO,sc.html?forcecountry=NO"><img src="http://image.e.jackjones.com/lib/fe9d13727764027c75/m/1/icon-Tech.png" width="60" height="13" alt="" border="0" style="display: block; height:13px; width:60px;" /></a>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- /brands -->
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Free shipping banner">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 1">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 2">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 3">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 4">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 5">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 6">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 7">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 8">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 9">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 10">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 11">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 12">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 13">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 14">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 15">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 16">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 17">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 18">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 19">
						</td>
					</tr>
					<tr>
						<td align="center">
							<custom type="content" name="Content 20">
						</td>
					</tr>
					<tr>
						<td align="center">
							<!-- customer service -->
							<table width="600" border="0" cellspacing="0" cellpadding="0" class="tableWrapper">
								<tbody>
									<tr>
										<td class="mobileHeight" height="40" style="width: 600px; max-width: 600px; min-width: 600px;" align="center"></td>
									</tr>
								</tbody>
							</table>
							<table width="600" border="0" cellspacing="0" cellpadding="0" class="tableWrapper" align="center">
								<tbody>
									<tr>
										<td class="tableWrapper" style="width: 600px; max-width: 600px; min-width: 600px;" align="center">
											<custom type="content" name="Service box">
										</td>
									</tr>
								</tbody>
							</table>
							<!-- /customer service -->
						</td>
					</tr>
					<tr>
						<td align="center">
							<!-- social -->
							<table width="600" border="0" cellspacing="0" cellpadding="0" class="tableWrapper">
								<tbody>
									<tr>
										<td class="mobileHeight" height="30" style="width: 600px; max-width: 600px; min-width: 600px;" align="center"></td>
									</tr>
								</tbody>
							</table>
							<table width="600" border="0" cellspacing="0" cellpadding="0" class="tableWrapper" align="center">
								<tbody>
									<tr>
										<td class="tableWrapper" style="width: 600px; max-width: 600px; min-width: 600px;" align="center">
											<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
												<tbody>
													<tr>
														<td align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 12px; color: #000000; font-weight: bold; padding-bottom: 14px;">F&Oslash;LG OSS:</td>
													</tr>
													<tr>
														<td align="center" style="padding-bottom: 15px;">
															<table border="0" cellspacing="0" cellpadding="0" align="center">
																<tbody>
																	<tr>
																		<td style="padding-right: 12px;">
																			<a href="https://www.facebook.com/JackandJones?utm_content=footer_facebook"><img src="http://image.e.jackjones.com/lib/fe9d13727764027c75/m/1/facebook-icon1.jpg" width="24" height="24" alt="" border="0" style="display: block;" /></a>
																		</td>
																		<td style="padding-right: 12px;">
																			<a href="https://twitter.com/JackandJonesTM?utm_content=footer_twitter"><img src="http://image.e.jackjones.com/lib/fe9d13727764027c75/m/1/twitter-icon3.jpg" width="24" height="24" alt="" border="0" style="display: block;" /></a>
																		</td>
																		<td>
																			<a href="https://instagram.com/jackandjones_official/?utm_content=footer_instagram"><img src="http://image.e.jackjones.com/lib/fe9d13727764027c75/m/1/instagram-icon1.jpg" width="24" height="24" alt="" border="0" style="display: block;" /></a>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- /social -->
						</td>
					</tr>
					<tr>
						<td>
							<!-- Unsubscribe and copyright -->
							<table width="600" border="0" cellspacing="0" cellpadding="0" class="tableWrapper" align="center">
								<tbody>
									<tr>
										<td class="tableWrapper" style="width: 600px; max-width: 600px; min-width: 600px;" align="center">
											<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
												<tbody>
													<tr>
														<td align="center">
															<custom type="content" name="Disclaimer text">
														</td>
													</tr>
													<tr>
														<td align="center" class="footer" style="color: #505359; line-height: 20px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 11px;">Bemerk vennligst at vi ikke kan garantere at alle produktene som er vist i denne e-posten er tilgjengelig i alle JACK & JONES butikkene og at prisene kan variere fra butikk til butikk. Alle priser er veiledende priser. </td>
													</tr>
													<tr>
														<td class="footer" align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 20px; color: #505359; padding-bottom: 25px;padding-left: 10px;padding-right: 10px;">Hvis du ikke lenger ønsker å motta e-post fra JACK & JONES, <a href="http://app.member.jackjones.com/Unsubscribe/?email=%%emailaddr%%&code=%%ActivationCode%%&country=%%Country%%" style="color: #505359; text-decoration: underline !important;">meld deg ut her</a>.
															<br /> Oppdater din profil <a href="https://member.bestseller.com/ProfileUpdate/?email=%%emailaddr%%&code=%%ActivationCode%%&country=%%Country%%&brand=JACK" style="color: #505359; text-decoration: underline !important;">her</a>.
															<br>På grunn av endring i e-postleverandør er ikke lenker i e-poster datert før denne datoen gyldige. Dersom du ønsker å melde deg av listen, må du bruke avmeldingslenken fra e-poster sendt etter 04-02-2016.
														</td>
													</tr>
													<tr>
														<td class="copyright" align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 20px; color: #767676; padding-bottom: 15px;">BESTSELLER A/S JACK & JONES, Fredskovvej, 7330 Brande, Denmark. </td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- /Unsubscribe and copyright -->
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<custom name="opencounter" type="tracking">
</body>

</html>